body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;

    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    background-image: url(10.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.container {
    width: 100%;
    margin:  auto;
    text-align: center;
}

header {
    background-color: transparent;
    color: white;
    padding: 30px 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: seagreen;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.pic {
    height: 500px;
}

main {
    background-color: transparent;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;

}

@media (max-width: 768px) {
    header {
        padding: 30px 0;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}

footer {
    color: black;
    text-align: center;
    background-color: transparent;
    padding: 10px;
}

.pic3 {
    width: 800px;
    height: auto;
}
.navbar{
    text-align: left;
}

.product-image {
    width: 100%;
    height: auto;
  }
  img{
    border-radius: 10px;
}