form {
 background-color: seagreen;
 padding: 14px 20px;
 border-radius: 20px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #0c0fbb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #18cc45;
  }
  
  .imgcontainer {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 50px;

  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  .jumbotron {
    margin-bottom: 0;
  }
 
  footer {
    background-color: transparent;
    padding: 25px;
  }

img {
    height: 200px;
    width: auto;
}
label {
  display: block;
  font-weight: bold;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  color: white;
}
.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 241, 241);
  color:  black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #45a049;
}
